<br>

<a href="/">Go back to home page</a>
<h2>You are viewing all your tasks from category: {{currentCategory.name}}</h2>
{{#each taskItems}}
  <div class="task">
   {{#unless this.is_done}}
      <br />
      <div class="tasks">
        <form action="/tasks" method="POST">
          <input type="hidden" name="method" value="PUT" />
          <input type="hidden" name="id" value="{{id}}" />
          <input
            type="text"
            name="title"
            value="{{title}}"
            placeholder="title"
          />

      <select name="categoryId">
        {{#each ../taskCategories}}
            <option value="{{ id }}" {{#ifEquals id ../categoryId}}selected{{/ifEquals}}>{{ name }}</option>
        {{/each}}
      </select>

          <input
            type="checkbox"
            class="is_done"
            name="is_done"
              {{#if is_done}}
                checked
              {{/if}}
            value="{{is_done}}"
            placeholder="is_done"
          />
          <button type="submit">
            Update
          </button>
        </form>
        <form action="/tasks" method="POST">
          <input type="hidden" name="method" value="DELETE" />
          <input type="hidden" name="id" value="{{id}}" />

          <input type="submit" value="Verwijder" />
        </form>
      </div>
    {{/unless}}
  </div>
{{/each}}

 {{#each taskItems}}
    {{#if this.is_done}}
      <div class="finishedTasks">
        <form action="/tasks" method="POST">
          <input type="hidden" name="method" value="PUT" />
          <input type="hidden" name="id" value="{{id}}" />
          <input
            type="text"
            name="title"
            value="{{title}}"
            placeholder="title"
          />
                    <input
            type="hidden"
            name="categoryId"
            value="{{categoryId}}"
            placeholder="categoryId"
          />
          <input
            type="checkbox"
            class="is_done"
            name="is_done"
              {{#if is_done}}
                checked
              {{/if}}
            value="{{is_done}}"
            placeholder="is_done"
          />
          <button type="submit">
            Update
          </button>
        </form>
        <form action="/tasks" method="POST">
            <input type="hidden" name="method" value="DELETE" />
            <input type="hidden" name="id" value="{{id}}" />
            <input type="submit" value="Verwijder" />
        </form>
      </div>
    {{/if}}
  {{/each}}